@import '../default';

.home {
    padding-bottom: 3rem;
}

.about-section {

    margin: 0 1rem 0 1rem;

    h3 {
        margin-top: 3rem;
    }
    p {
       margin-top: 1.5rem;
       font-size: 1rem; 
    }
    a {
        color: black;
        font-size: 1rem;
    }
    
}