@import '../_default.scss';


.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27rem;
    flex-direction: column;
}
.contact-page h3 {
    text-align: center;
    width: 30rem;
}
.contact-form {
    background-color: $skrutt-tan-dark;
    border-radius: 10px;
    
    height: 20rem;
    width: 30rem;
}

.contact-form input {
    background-color: $skrutt-tan-light;
    margin-left: 1.5rem;
    margin-top: 3rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid $skrutt-green-light;
}

.contact-form textarea {
    display: block;
    background-color: $skrutt-tan-light;
    margin-left: 1.5rem;
    margin-top: 3rem;
    font-size: 1rem;
    width: 88%;
    max-width: 88%;
    min-width: 88%;
    height: 3rem;
    max-height: 3rem;
    min-height: 3rem;
    border-radius: 10px;
    border: 1px solid $skrutt-green-light;
    color: $skrutt-green-dark;
}
.contact-form input::placeholder {
    color: $skrutt-tan-bg;
}
.contact-form textarea::placeholder {
    color: $skrutt-tan-bg;
}
.form-btn {
    border: 1px solid $skrutt-green-light;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    color: $skrutt-tan-bg;
}