@import '_default.scss';

.App {

  background-color: $skrutt-tan-light;
  min-height: 150vh;
  margin-left: 8rem; 
  margin-right: 8rem; 
  
  

}





@media only screen and (min-width: 768px) {
  .sidebarVisible {
    display: block;
  }

  .navbarVisible {
    display: none;
  }

}



// Tiny phones
@media only screen and (min-width: 2px) {
  .sidebarVisible {
    display: block;
  }
  .navbarVisible {
    display: none;
  }


} // End of Tiny Phones Query


// Desktops and larger
@media only screen and (min-width: 992px) {



  .sidebarVisible {
    display: none;
  }

  .navbarVisible {
    display: block;
  }
  
  } //End of Desktop Query