// Colors
$skrutt-green-dark: #003431;
$skrutt-green-light: #B4CAC8;
$skrutt-tan-light: #E2D4C7;
$skrutt-tan-dark: #B2987F;
$skrutt-tan-bg: #352e27;

.container {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

// färgkoder: #003431, #B4CAC8, #B2987F, #E2D4C7